[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-jazzmin = "*"
django-smart-selects = "*"
django-crispy-forms = "*"
python-dateutil = "*"
django-braces = "*"
django-select2 = "*"
gunicorn = "*"
django-heroku = "*"

[dev-packages]

[requires]
python_version = "3.11"
