{% extends 'base.html' %}

{% load static %}

{% load crispy_forms_tags %}


{% block titulo %}
<title>
    {{ titulo }}
</title>
{% endblock %}


{% block conteudo %}
<div class="container">
    <h1 class="mt-4">
        {{ titulo }}
    </h1>

    <p class="lead">
        Preencha todos os campos obrigatórios
    </p>

    <hr>

    <form action="" method="post">

        {% csrf_token %}

        <div class="row">
            <h5>Imóvel</h5>
            <div class="form-group col-md-5 mb-0">
                {{ form.proprietario|as_crispy_field }}
            </div>
            <div class="form-group col-md-5 mb-0">
                {{ form.imovel|as_crispy_field }}
            </div>
            <div class="form-group col-md-2 mb-0">
                {{ form.finalidade|as_crispy_field }}
            </div>
        </div>
        <div class="row mt-4">
            <h5 >Locatário e garantia</h5>
            <div class="form-group col-md-6 mb-0">
                {{ form.locatario|as_crispy_field }}
            </div>
            <div class="form-group col-md-6 mb-0">
                {{ form.garantia|as_crispy_field }}
            </div> 
        </div>
        <div class="row mt-4">
            <h5 >Dados do contrato</h5>
            <div class="form-group col-md-3 mb-0">
                {{ form.data_inicial|as_crispy_field }}
            </div>
            <div class="form-group col-md-3 mb-0">
                {{ form.periodo_meses|as_crispy_field }}
            </div>
            <div class="form-group col-md-3 mb-0">
                {{ form.data_final|as_crispy_field }}
            </div>
            <div class="form-group col-md-3 mb-0">
                {{ form.valor_contrato|as_crispy_field }}
            </div>   

        </div>
        
        <button type="submit" class="btn btn-primary mt-4">
            {{ botao }}
        </button>

        <button type="reset" class="btn btn-danger mt-4">
            Cancelar         
        </button>
    </form>

    
</div>
{% endblock %}
{% block scripts %}
    <script>
        $(document).ready(function() {
            
            // =============================================================
            // ------ SELECT2 ----------------------------------------------
            // =============================================================
            $('.select2').select2({theme: 'bootstrap-5'});
        
            // =============================================================
            // ------ MÁSCARA DE ENTRADA DE DADOS --------------------------
            // =============================================================
        
            $('#id_data_inicial').mask('00/00/0000', {placeholder: "__/__/____"});
            $('#id_data_final').mask('00/00/0000', {placeholder: "__/__/____"});
            $('#id_valor_contrato').mask("000.000.000.000.000,00", {reverse: true});
            // $('#id_taxa_admin_mensal').mask('##0,00%', {reverse: true});
            // $('#id_taxa_admin_anual').mask('##0,00%', {reverse: true});
            
        });
    </script>
{% endblock %}