{% extends 'base.html' %}

{% load static %}

{% load crispy_forms_tags %}


{% block titulo %}
<title>
    Financeiro - Locatário
</title>
{% endblock %}


{% block conteudo %}

{% for contrato in contratos %}
<div class="container">
    <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
        <h2>
            {{ contrato.locatario }}
        </h2>
        <a href="#" class="btn btn-primary btn-bg">
            Imprimir</a> 
    </div>

    <h5 class="lead">
        {{ contrato.imovel }}
    </h5> 
    
    <div class="accordion mt-4 mb-2" id="accordionExample">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Gerar novas parcelas
                    </button>
                </h5>
            </div>
        
            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                    <form action="" method='post' id="id_form">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col">
                                <label class="form-label mb-0 mt-1"> Nº de parcelas</label>
                                <input class="form-control" type="number" id='num_parcelas' name="num_parcelas" placeholder="" autocomplete="off">
                            </div>
                            <div class="col">
                                <label class="form-label mb-0 mt-1"> Nº da 1ª parcela</label>
                                <input class="form-control" type="number" name="primeira_parcela" placeholder="">      
                            </div>
                            <div class="col">   
                                <label class="form-label mb-0 mt-1"> Vcto 1ª parcela</label>
                                <input class="form-control" type="date" name="vencimento_primeira_parcela" placeholder="">
                            </div>
                            <div class="col">
                                <label class="form-label mb-0 mt-1"> Valor</label>
                                <input class="form-control" type="number" name="valor_da_parcela" placeholder="">
                            </div>
                        </div>
                        <input class="form-control mb-0 mt-3" type="submit" name="btn_gerar_parcelas" value="Gerar">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}

<div class="container">
    <div class="row">
        <div class="col">
            <table class="table table-striped" id="tabela">
                <thead>
                    <tr>
                        <th>Parcela</th>
                        <th>Vcto</th>
                        <th>Vcto Real</th>
                        <th>Valor</th>
                        <th>Data Pgto</th>
                        <th>Multa</th>
                        <th>Juros</th>
                        <th>Valor Pago</th>
                        <th>Opções</th>
                    </tr>
                </thead>
                <tbody>
                    {% for parcela in parcelas %}
                    <tr>
                        <td>{{ parcela.parcela }}</td>
                        <td>{{ parcela.vencimento|date:'d/m/Y' }}</td>
                        <td>{{ parcela.vencimento_real|date:'d/m/Y' }}</td>
                        <td>{{ parcela.valor }}</td>
                        <td>{{ parcela.pagamento|date:'d/m/Y' }}</td>
                        <td>{{ parcela.multa }}</td>
                        <td>{{ parcela.juros }}</td>
                        <td>{{ parcela.valor_total }}</td>
                        <td>
                            <a href="{% url 'financeiro-do-contrato-editar' parcela.pk %}" class="btn btn-primary btn-sm" title="Baixar Parcela">
                                <i class="fa fa-check" aria-hidden="true"></i>
                            </a>
                            <!-- <a href="" class="btn btn-warning btn-sm" title="Editar">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                            </a>  -->
                            <a href="" class="btn btn-danger btn-sm" title="Excluir">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </a>
                        </td>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
    
<!-- Modal grande -->

<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">Modal grande</button>

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
        Testando
    </div>
  </div>
</div> -->

{% endblock %}

{% block scripts %}
<!-- COLLAPSE -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <script>
        $(document).ready(function() {
            // =============================================================
            // ------ COLLAPSE ---------------------------------------------
            // =============================================================


            // =============================================================
            // ------ MÁSCARA DE ENTRADA DE DADOS --------------------------
            // =============================================================
        
            $('#id_data_inicial').mask('00/00/0000', {placeholder: "__/__/____"});
            $('#id_data_final').mask('00/00/0000', {placeholder: "__/__/____"});

            // =============================================================
            // ------ SELECT2 ----------------------------------------------
            // =============================================================

            $('.select2').select2({theme: 'bootstrap-5'});
        
            // =============================================================
            // ------ DESABILITA CAMPOS ------------------------------------
            // =============================================================
            
            $('#id_contrato').attr('readonly','readonly')
            $('#id_parcela').attr('readonly','readonly')
            $('#id_vencimento').attr('readonly','readonly')
            $('#id_vencimento_real').attr('readonly','readonly')
            $('#id_multa').attr('readonly','readonly')
            $('#id_juros').attr('readonly','readonly')
            $('#id_valor_total').attr('readonly','readonly')
            $('#id_valor').attr('readonly','readonly')
            
            // =============================================================
            // ------ CALCULA MULTA E JUROS --------------------------------
            // =============================================================

            $("#id_pagamento").blur(function() {
                
                // FORMATA O VENCIMENTO REAL
                var vencimento_real = document.querySelector("#id_vencimento_real").value;
                var arrvencimento_real = vencimento_real.split('/');
                var stringFormatada = arrvencimento_real[1] + '-' + arrvencimento_real[0] + '-' +arrvencimento_real[2];
                var vencimento_real_formatado = new Date(stringFormatada);
                
                // FORMATA A DATA DO PAGAMENTO
                var data_pagamento = document.querySelector("#id_pagamento").value;
                var arr_data_pagamento = data_pagamento.split('/');
                var stringFormatada = arr_data_pagamento[1] + '-' + arr_data_pagamento[0] + '-' +arr_data_pagamento[2];
                var data_pagamento_formatado = new Date(stringFormatada);
                
                // CALCULA QUANTOS DIAS TEM DE ATRASO
                let difference = Math.abs(data_pagamento_formatado - vencimento_real_formatado);
                dias_de_atraso = difference/(1000 * 3600 * 24)

                // VERIFICA SE O PAGAMENTO ESTÁ SENDO EFETUADO COM ATRASO
                if (data_pagamento_formatado > vencimento_real_formatado){ 
                    
                    // CALCULA A MULTA E JUROS
                    let valor = document.querySelector('#id_valor').value
                    let multa = parseFloat(valor * .1).toFixed(2) 
                    let juros_por_dia =  0.000333333 * parseFloat(valor)
                    let juros_total = parseFloat(juros_por_dia * dias_de_atraso).toFixed(2)
                    let valor_total = parseFloat(multa) + parseFloat(valor) + parseFloat(juros_total)
                    
                    // EDITA OS CAMPOS APÓS ATUALIZAÇÃO
                    $("#id_multa").val(parseFloat(multa).toFixed(2))
                    $("#id_juros").val(parseFloat(juros_total).toFixed(2))
                    $("#id_valor_total").val(parseFloat(valor_total).toFixed(2))

                } else {
                    // CALCULA A MULTA E JUROS
                    let valor = document.querySelector('#id_valor').value
                    let multa = 0.00
                    let juros_por_dia =  0
                    let juros_total = 0
                    let valor_total = parseFloat(multa) + parseFloat(valor) + parseFloat(juros_total)
                    
                    $("#id_multa").val(parseFloat(multa).toFixed(2))
                    $("#id_juros").val(parseFloat(juros_total).toFixed(2))
                    $("#id_valor_total").val(parseFloat(valor_total).toFixed(2))
                }
            });

            // =============================================================
            // ------ MÁSCARA DE ENTRADA DE DADOS --------------------------
            // =============================================================
        
            $('#id_data_inicial').mask('00/00/0000', {placeholder: "__/__/____"});
            $('#id_data_final').mask('00/00/0000', {placeholder: "__/__/____"});
            // $('#id_valor').mask("000.000.000.000.000,00", {reverse: true});
            // $('#id_multa').mask("000.000.000.000.000,00", {reverse: true});
            // $('#id_valor_total').mask("000.000.000.000.000,00", {reverse: true});
            // // $('#id_taxa_admin_mensal').mask('##0,00%', {reverse: true});
            // // $('#id_taxa_admin_anual').mask('##0,00%', {reverse: true});

        });
    </script>
{% endblock %}