{% extends 'base.html' %}

{% load static %}

{% block titulo %}
<title>Contratos de aluguel</title>
{% endblock %}

{% block conteudo %}

<div class="container-fluid mt-3">
    <div class="card border-top">
        <div class="card-header">
            <div class="d-flex align-items-center justify-content-between">
                <h2 class="mt-2">
                    Contratos de aluguel
                </h2>
                <div>
                    <a href="{% url 'contrato-aluguel-cadastrar' %}" class="btn btn-primary btn-bg">
                        Novo contrato</a>
                </div>
            </div>
        </div>

        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped" id="tabela">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Locatário</th>
                            <th>Imóvel</th>
                            <th>Início</th>
                            <th>Fim</th>
                            <th>Opções</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for Aluguel in object_list %}
                        <tr>
                            <td>{{ Aluguel.pk }}</td>
                            <td>
                                {% if Aluguel.locatario.tipo_cliente == 'PF' %}
                                <a href="{% url 'editar-clientes-pf' Aluguel.locatario.pk %}" class="text-black">
                                    {{ Aluguel.locatario }}
                                </a>
                                {% else %}
                                <a href="{% url 'editar-clientes-pj' Aluguel.locatario.pk %}" class="text-black">
                                    {{ Aluguel.locatario }}
                                </a>
                                {% endif %}
                            </td>
                            <td>{{ Aluguel.imovel }}</td>
                            <td>{{ Aluguel.data_inicial|date:'d/m/Y' }}</td>
                            <td>{{ Aluguel.data_final|date:'d/m/Y' }}</td>
                            <td>


                                
                                <a href="{% url 'detalhes-teste' Aluguel.pk %}"
                                    class="btn btn-secondary btn-sm" title="teste">
                                    <i class="" aria-hidden="true"></i>
                                </a>
                                <a href="{% url 'financeiro-do-contrato-listar' Aluguel.pk %}"
                                    class="btn btn-secondary btn-sm" title="Detalhes">
                                    <i class="fa fa-cogs" aria-hidden="true"></i>
                                </a>
                                <a href="{% url 'contrato-aluguel-editar' Aluguel.pk %}" class="btn btn-warning btn-sm"
                                    title="Editar">
                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                </a>
                                <a href="{% url 'contrato-aluguel-excluir' Aluguel.pk %}" class="btn btn-danger btn-sm"
                                    title="Excluir">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}

{% endblock %}