{% extends 'base.html' %}

{% load static %}

{% block titulo %}
<title>Lista de Usuários</title>
{% endblock %}

{% block conteudo %}

<div class="container-fluid mt-3">
    <div class="card border-top">
        <div class="card-header">
            <div class="d-flex align-items-center justify-content-between">
                <h2 class="mt-2">
                    Usuários
                </h2>
                <div>
                    <a href="{% url 'usuarios-cadastrar' %}" class="btn btn-primary btn-bg">Cadastrar usuário</a>
                </div>
            </div>
        </div>

        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nome</th>
                            <th>Sobrenome</th>
                            <th>Username</th>
                            <th>Email</th>
                            <th>Opções</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for User in object_list %}
                        <tr>
                            <td>{{ User.pk }}</td>
                            <td>{{ User.first_name }}</td>
                            <td>{{ User.last_name }}</td>
                            <td>{{ User.username }}</td>
                            <td>{{ User.email }}</td>
                            <td>
                                <a href="{% url 'usuarios-editar' User.pk %}" class="btn btn-warning btn-sm"
                                    title="Editar">
                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                </a>
                                <a href="{% url 'usuarios-excluir' User.pk %}" class="btn btn-danger btn-sm"
                                    title="Excluir">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}