{% load static %}

{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>Password Reset - SB Admin</title>
  <link href={% static "css/styles.css" %} rel="stylesheet" />
  <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
</head>


<body class="bg-primary">
  {% block conteudo %}
  {% if validlink %}
  <div id="layoutAuthentication">
    <div id="layoutAuthentication_content">
      <main>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-5">
              <div class="card shadow-lg border-0 rounded-lg mt-5">
                <div class="card-header">
                  <h3 class="text-center font-weight-light my-4">Cadastro de nova senha</h3>
                </div>
                <div class="card-body">
                  <form action="" method="post">
                    {% csrf_token %}
                    {{ form.new_password1|as_crispy_field }}
                    {{ form.new_password2|as_crispy_field }}
                    <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
                      <a class="small" href="{% url 'login' %}">Retornar para login</a>
                      <input type="submit" class="btn btn-primary" value="Alterar senha">
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
  </div>
  {% else %}
  <div id="layoutAuthentication">
    <div id="layoutAuthentication_content">
      <main>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-5">
              <div class="card shadow-lg border-0 rounded-lg mt-5">
                <div class="card-header">
                  <h3 class="text-center font-weight-light my-4">Redefinição de senha sem sucesso</h3>
                </div>
                <div class="card-body">
                  <form action="" method="post"> 
                    <div class="small mb-3 text-muted">
                      O link para a recuperação de senha era inválido, possivelmente porque já foi utilizado. Por favor, solicite uma nova recuperação de senha.
                    </div>
                    <p></p>
                    <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
                      <a class="small" href="{% url 'reset_password' %}">Recuperar senha</a>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
  </div>
  {% endif %}
  {% endblock %}
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
  <script src={% static "js/scripts.js" %}></script>
</body>

</html>