{% extends 'base.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block titulo %}
<title>
    {{ titulo }}
</title>
{% endblock %}

{% block conteudo %}
<div class="container">
    <h1 class="mt-4">
        {{ titulo }}
    </h1>

    <p class="lead">
        Preencha todos os campos obrigatórios
    </p>

    <hr>

    <form action="" method="post">

        {% csrf_token %}        
        <!-- {{ form.media.js }} -->

        <div class="row">
            <h5>Informações do proprietário e imóvel</h5>
            <div thiago class="form-group col-md-6 mb-0">
                {{ form.imovel|as_crispy_field }}
            </div>    
        </div>
        
        <div class="row mt-4">
            <h5>Informações do contrato</h5>
            <div class="form-group col-md-4 mb-0">
                {{ form.valor_aluguel|as_crispy_field }}
            </div>
            <div class="form-group col-md-4 mb-0">
                {{ form.taxa_admin_mensal|as_crispy_field }}
            </div>
            <div class="form-group col-md-4 mb-0">
                {{ form.taxa_admin_anual|as_crispy_field }}
            </div>
            <div class="form-group col-md-4 mb-0">
                {{ form.data_inicial|as_crispy_field }}
            </div>
            <div class="form-group col-md-4 mb-0">
                {{ form.prazo_contrato|as_crispy_field }}
            </div>
            <div  class="form-group col-md-4 mb-0">
                {{ form.data_final|as_crispy_field }}
            </div>
        </div>
    
        <button type="submit" class="btn btn-primary mt-4">
            {{ botao }}
        </button>

        <button type="reset" class="btn btn-danger mt-4">
            Cancelar         
        </button>

    </form>
</div>


{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function() {

            // =============================================================
            // ------ CALENDÁRIO NOS CAMPOS DE DATA ------------------------
            // =============================================================
            
            $('#id_data_inicial ').datepicker({dateFormat:'dd/mm/yy'});

            // =============================================================
            // ------ CAMPOS SOMENTE LEITURA -------------------------------
            // =============================================================
            
            $('#id_data_final').prop('readonly', true)

            // =============================================================
            // ------ SELECT2 ----------------------------------------------
            // =============================================================
            $('.select2').select2({theme: 'bootstrap-5'});
        
            // =============================================================
            // ------ MÁSCARA DE ENTRADA DE DADOS --------------------------
            // =============================================================
        
            $('#id_data_inicial').mask('00/00/0000', {placeholder: "__/__/____"});
            $('#id_data_final').mask('00/00/0000', {placeholder: "__/__/____"});
            $('#id_valor_aluguel').mask("000.000.000.000.000,00", {reverse: true});
            $('#id_taxa_admin_mensal').mask('##0,00%', {reverse: true});
            $('#id_taxa_admin_anual').mask('##0,00%', {reverse: true});

            // =============================================================
            // ------ CALCULA DATA FINAL - APÓS DATA INICIAL ---------------
            // =============================================================

            $("#id_data_inicial").change(function() {
                
                data_inicial = document.querySelector('#id_data_inicial').value
                periodo_contrato = document.querySelector('#id_prazo_contrato').value

                if (periodo_contrato == "" || data_inicial == "") {
                    $("#id_data_final").val(null)
                }
                else {
                    // FORMATA A DATA INICIAL
                    var data_inicial = document.querySelector("#id_data_inicial").value;
                    var arr_data_inicial = data_inicial.split('/');
                    var stringFormatada = arr_data_inicial[1] + '-' + arr_data_inicial[0] + '-' +arr_data_inicial[2];
                    var data_inicial_formatada = new Date(stringFormatada);
                    
                    // PEGA O PRAZO PARA CALCULAR A DATA FINAL
                    prazo_do_contrato = document.querySelector('#id_prazo_contrato').value
                    prazo_do_contrato = parseInt(prazo_do_contrato)

                    // CALCULA A DATA FINAL
                    data_final = data_inicial_formatada.setMonth(data_inicial_formatada.getMonth() + prazo_do_contrato) - 1;
                    data_final = new Date(data_final)

                    // FORMATA A DATA PARA STRING NOVAMENTE 
                    function adicionaZero(numero){
                        if (numero <= 9) 
                            return "0" + numero;
                        else
                            return numero; 
                    }

                    data_final_string = (adicionaZero(data_final.getDate().toString()) + "/" + (adicionaZero(data_final.getMonth()+1).toString()) + "/" + data_final.getFullYear());
                    
                    // EDITA O CAMPO DATA FINAL APÓS ATUALIZAÇÃO
                    $("#id_data_final").val(data_final_string)
                }
            }); 

            // =============================================================
            // ------ CALCULA DATA FINAL - APÓS PRAZO DO CONTRATO ----------
            // =============================================================

            $("#id_prazo_contrato").change(function() {
                
                data_inicial = document.querySelector('#id_data_inicial').value
                periodo_contrato = document.querySelector('#id_prazo_contrato').value

                if (periodo_contrato == "" || data_inicial == "") {
                    $("#id_data_final").val(null)
                }
                else {
                    // FORMATA A DATA INICIAL
                    var data_inicial = document.querySelector("#id_data_inicial").value;
                    var arr_data_inicial = data_inicial.split('/');
                    var stringFormatada = arr_data_inicial[1] + '-' + arr_data_inicial[0] + '-' +arr_data_inicial[2];
                    var data_inicial_formatada = new Date(stringFormatada);
                    
                    // PEGA O PRAZO PARA CALCULAR A DATA FINAL
                    prazo_do_contrato = document.querySelector('#id_prazo_contrato').value
                    prazo_do_contrato = parseInt(prazo_do_contrato)

                    // CALCULA A DATA FINAL
                    data_final = data_inicial_formatada.setMonth(data_inicial_formatada.getMonth() + prazo_do_contrato) - 1;
                    data_final = new Date(data_final)

                    // FORMATA A DATA PARA STRING NOVAMENTE 
                    function adicionaZero(numero){
                        if (numero <= 9) 
                            return "0" + numero;
                        else
                            return numero; 
                    }
                    
                    data_final_string = (adicionaZero(data_final.getDate().toString()) + "/" + (adicionaZero(data_final.getMonth()+1).toString()) + "/" + data_final.getFullYear());
                    
                    // EDITA O CAMPO DATA FINAL APÓS ATUALIZAÇÃO
                    $("#id_data_final").val(data_final_string)
                }
            });   
            
        });
    </script>
{% endblock %}