{% extends 'base.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block titulo %}
<title>
    {{ titulo }}
</title>
{% endblock %}

{% block conteudo %}
<div class="container-fluid mt-3">
    <div class="card border-top">
        <div class="card-header">
            <h2 class="mt-2">
                {{ titulo }}
            </h2>
        </div>

        <form action="" method="post">
            <div class="card-body">
                {% csrf_token %}
                <div class="card">
                    <div class="card-body">
                        <h5>Dados da empresa</h5>
                        <hr>
                        <div class="row">
                            <div hidden class="form-group col-md-3 mb-2 ">
                                {{ form.tipo_cliente|as_crispy_field }}
                            </div>
                            <div class="form-group col-md-3 mb-2">
                                {{ form.cnpj|as_crispy_field }}
                            </div>
                            <div class="form-group col-md-5 mb-2">
                                {{ form.nome|as_crispy_field }}
                            </div>
                            <div class="form-group col-md-4 mb-2">
                                {{ form.nome_fantasia|as_crispy_field }}
                            </div>
                            <div class="form-group col-md-3 mb-2">
                                {{ form.inscricao_estadual|as_crispy_field }}
                            </div>
                            <div class="form-group col-md-3 mb-2">
                                {{ form.data_abertura|as_crispy_field }}
                            </div>
                            <div class="form-group col-md-3 mb-2">
                                {{ form.situacao|as_crispy_field }}
                            </div>
                            <div class="form-group col-md-3 mb-2">
                                {{ form.data_situacao|as_crispy_field }}
                            </div>
                            <div class="form-group col-md-6 mb-2">
                                {{ form.porte|as_crispy_field }}
                            </div>
                            <div class="form-group col-md-6 mb-2">
                                {{ form.natureza_juridica|as_crispy_field }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mt-3">
                    <div class="card-body">
                        <h5>Endereço</h5>
                        <hr>
                        <div class="row">
                            <div class="form-group col-md-3 mb-2">
                                {{ form.cep|as_crispy_field }}
                            </div>
                            <div class="form-group col-md-7 mb-2">
                                {{ form.endereco|as_crispy_field }}
                            </div>
                            <div class="form-group col-md-2 mb-2">
                                {{ form.numero|as_crispy_field }}
                            </div>
                            <div class="form-group col-md-3 mb-2">
                                {{ form.complemento|as_crispy_field }}
                            </div>
                            <div class="form-group col-md-4 mb-2">
                                {{ form.bairro|as_crispy_field }}
                            </div>
                            <div class="form-group col-md-3 mb-2">
                                {{ form.cidade|as_crispy_field }}
                            </div>
                            <div class="form-group col-md-2 mb-2">
                                {{ form.uf|as_crispy_field }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mt-3">
                    <div class="card-body">
                        <h5>Contatos</h5>
                        <hr>
                        <div class="row">
                            <div class="form-group col-md-6 mb-2">
                                {{ form.email|as_crispy_field }}
                            </div>
                            <div class="form-group col-md-4 mb-2">
                                {{ form.telefone|as_crispy_field }}
                            </div>

                        </div>
                    </div>
                </div>
                <div class="card mt-3">
                    <div class="card-body">
                        <h5>Sócio / Procurador</h5>
                        <hr>
                        <div class="row">
                            <div class="form-group col-md-8 mb-2">
                                {{ form.responsavel_1|as_crispy_field }}
                            </div>
                            <div class="form-group col-md-4 mb-2">
                                {{ form.tipo_responsavel_1|as_crispy_field }}
                            </div>
                            <div class="form-group col-md-8 mb-2">
                                {{ form.responsavel_2|as_crispy_field }}
                            </div>
                            <div class="form-group col-md-4 mb-2">
                                {{ form.tipo_responsavel_2|as_crispy_field }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-primary">
                    {{ botao }}
                </button>
                <button type="submit" class="btn btn-danger">
                    Cancelar
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block scripts %}

<script scr="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

<script>
    // Script para mascara
    var SPMaskBehavior = function (val) {
        return val.replace(/\D/g, '').length === 11 ? '(00) 00000-0000' : '(00) 0000-00009';
    },
        spOptions = {
            onKeyPress: function (val, e, field, options) {
                field.mask(SPMaskBehavior.apply({}, arguments), options);
            }
        };

    $(document).ready(function () {

        // =============================================================
        // ------ CALENDÁRIO NOS CAMPOS DE DATA ------------------------
        // =============================================================

        $('#id_data_abertura').datepicker({ dateFormat: 'dd/mm/yy' });
        $('#id_data_situacao').datepicker({ dateFormat: 'dd/mm/yy' });

        // =============================================================
        // ------ CAMPO PADRÃO PARA CADASTRO PJ ------------------------
        // =============================================================

        tipo_cliente = 'PJ'
        $("#id_tipo_cliente").val(tipo_cliente)

        // =============================================================
        // ------ SELECT2 ----------------------------------------------
        // =============================================================

        $('.select2').select2({ theme: 'bootstrap-5' });

        // =============================================================
        // ------ MÁSCARA DE ENTRADA DE DADOS
        // =============================================================.

        $('#id_cnpj').mask('00.000.000/0000-00', { reverse: true });
        $('#id_telefone_1').mask(SPMaskBehavior, spOptions);
        $('#id_telefone_2').mask(SPMaskBehavior, spOptions);
        $('#id_telefone_3').mask(SPMaskBehavior, spOptions);
        $('#id_data_abertura').mask('00/00/0000', { placeholder: "__/__/____" });
        $('#id_data_situacao').mask('00/00/0000', { placeholder: "__/__/____" });
        $('#id_cep').mask('00000-000');
        $('#id_celular').mask(SPMaskBehavior, spOptions);
        $('#id_telefone').mask(SPMaskBehavior, spOptions);
        $('#id_celular').mask(SPMaskBehavior, spOptions);
        $('#id_nascimento').mask('00/00/0000', { placeholder: "__/__/____" });
        $('#id_cpf_conjuge').mask('000.000.000-00', { reverse: true, placeholder: "000.000.000-00" });
        $('#id_data_expedicao_conjuge').mask('00/00/0000', { placeholder: "__/__/____" });
        $('#id_telefone_conjuge').mask(SPMaskBehavior, spOptions);
        $('#id_celular_conjuge').mask(SPMaskBehavior, spOptions);

        // =============================================================
        // ------ API DE BUSCA: CEP ------------------------------------
        // =============================================================

        function limpa_formulário_cep() {
            // Limpa valores do formulário de cep.
            $("#id_endereco").val("");
            $("#id_bairro").val("");
            $("#id_cidade").val("");
            $("#id_uf").val("");
        }

        //Quando o campo cep perde o foco.
        $("#id_cep").change(function () {

            //Nova variável "cep" somente com dígitos.
            var cep = $(this).val().replace(/\D/g, '');

            //Verifica se campo cep possui valor informado.
            if (cep != "") {

                //Expressão regular para validar o CEP.
                var validacep = /^[0-9]{8}$/;

                //Valida o formato do CEP.
                if (validacep.test(cep)) {

                    //Preenche os campos com "..." enquanto consulta webservice.
                    $("#id_endereco").val("buscando...");
                    $("#id_bairro").val("buscando...");
                    $("#id_cidade").val("buscando...");
                    $("#id_uf").val("buscando...");

                    //Consulta o webservice viacep.com.br/
                    $.getJSON("https://viacep.com.br/ws/" + cep + "/json/?callback=?", function (dados) {

                        if (!("erro" in dados)) {
                            //Atualiza os campos com os valores da consulta.
                            $("#id_endereco").val(dados.logradouro);
                            $("#id_bairro").val(dados.bairro);
                            $("#id_cidade").val(dados.localidade);
                            $("#id_uf").val(dados.uf);
                        } //end if.
                        else {
                            //CEP pesquisado não foi encontrado.
                            limpa_formulário_cep();
                            alert("CEP não encontrado.");
                        }
                    });
                } //end if.
                else {
                    //cep é inválido.
                    limpa_formulário_cep();
                    alert("Formato de CEP inválido.");
                }
            } //end if.
            else {
                //cep sem valor, limpa formulário.
                limpa_formulário_cep();
            }
        });

        // =============================================================
        // ------ API DE BUSCA: CNPJ -----------------------------------
        // =============================================================      

        $("#id_cnpj").change(function () {

            //Nova variável "cnpj" somente com dígitos.
            cnpj = document.querySelector('#id_cnpj').value.replace(/\D/g, '')

            // Se o CNPJ for diferente de vazio, consome API
            if (cnpj != "") {
                $.ajax({
                    'url': 'https://receitaws.com.br/v1/cnpj/' + cnpj,
                    'type': "GET",
                    'dataType': 'jsonp',
                    'success': function (dados) {

                        if (dados.nome == undefined) {
                            // DADOS DA EMPRESA
                            $("#id_nome").val('CNPJ INVÁLIDO');
                            $("#id_nome_fantasia").val('');
                            $("#id_data_abertura").val('');
                            $("#id_situacao").val('');
                            $("#id_data_situacao").val('');
                            $("#id_porte").val('');
                            $("#id_natureza_juridica").val('');
                            //CONTATO
                            $("#id_email").val('');
                            // ENDEREÇO
                            $("#id_cep").val('');
                            $("#id_endereco").val('');
                            $("#id_numero").val('');
                            $("#id_bairro").val('');
                            $("#id_cidade").val('');
                            $("#id_uf").val('');

                        } else {
                            // DADOS DA EMPRESA
                            $("#id_nome").val(dados.nome);
                            $("#id_nome_fantasia").val(dados.fantasia);
                            $("#id_data_abertura").val(dados.abertura);
                            $("#id_situacao").val(dados.situacao);
                            $("#id_data_situacao").val(dados.data_situacao);
                            $("#id_porte").val(dados.porte);
                            $("#id_natureza_juridica").val(dados.natureza_juridica);
                            //CONTATO
                            $("#id_email").val(dados.email);
                            // ENDEREÇO
                            $("#id_cep").val(dados.cep);
                            $("#id_endereco").val(dados.logradouro);
                            $("#id_numero").val(dados.numero);
                            $("#id_bairro").val(dados.bairro);
                            $("#id_cidade").val(dados.municipio);
                            $("#id_uf").val(dados.uf);

                            situacao = dados.situacao
                            console.log(situacao)

                            classe = document.querySelector('#id_cnpj')

                            if (situacao != 'ATIVA') {

                            }
                        }
                    }
                })
                // Se o CNPJ for igual a vazio, não consome API e anula todos os campos
            } else {
                // DADOS DA EMPRESA
                $("#id_nome").val('');
                $("#id_nome_fantasia").val('');
                $("#id_data_abertura").val('');
                $("#id_situacao").val('');
                $("#id_data_situacao").val('');
                $("#id_porte").val('');
                $("#id_natureza_juridica").val('');
                //CONTATO
                $("#id_email").val('');
                // ENDEREÇO
                $("#id_cep").val('');
                $("#id_endereco").val('');
                $("#id_numero").val('');
                $("#id_bairro").val('');
                $("#id_cidade").val('');
                $("#id_uf").val('');
            }
        });
    });
</script>
{% endblock %}