{% extends 'base.html' %}

{% load static %}

{% load crispy_forms_tags %}


{% block titulo %}
<title>
    {{ titulo }}
</title>
{% endblock %}


{% block conteudo %}
<div class="container">
    <h2 class="mt-4">
        {{ titulo }}
    </h2>

    <p class="lead">
        <!-- Preencha todos os campos obrigatórios -->
    </p>

    <hr>

    <form name="form" action="" onsubmit="return validateForm()" method="post">

        {% csrf_token %}

        <div class="row">
            <h5></h5>
             <div hidden class="form-group col-md-5 mb-2" >
                {{ form.contrato|as_crispy_field }}
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <div class="row mt-2">                        
                    <div class="form-group col-md-3 mb-2">
                        {{ form.parcela|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-3 mb-2">
                        {{ form.vencimento|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-3 mb-2">
                        {{ form.vencimento_real|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-3 mb-2">
                        {{ form.valor_aluguel|as_crispy_field }}
                    </div>
                </div>
                <hr>
                <div class="row mt-0"> 
                    <div class="form-group col-md-3 mb-2">
                        {{ form.data_pagamento|as_crispy_field }}
                    </div>                       
                    <div class="form-group col-md-3 mb-2">
                        {{ form.multa|as_crispy_field }}
                    </div> 
                    <div class="form-group col-md-3 mb-2">
                        {{ form.juros|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-3 mb-2">
                        {{ form.valor_total|as_crispy_field }}
                    </div>
   
                    <div class="form-group col-md-3 mb-2">
                        {{ form.valor_pago|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-3 mb-2">
                        {{ form.saldo_aluguel|as_crispy_field }}
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-4">


        </div>
        
        <button type="submit" class="btn btn-primary mt-4">
            {{ botao }}
        </button>

        <button type="reset" class="btn btn-danger mt-4 href="javascript:history.back()"">
            Cancelar         
        </button>
    </form>

    
</div>
{% endblock %}
{% block scripts %}
    <script>

        // =============================================================
        // ------ VALIDA O FORMULÁRIO ANTES DE ENVIAR ------------------
        // =============================================================
        
        function validateForm(){
            var date = document.querySelector("#id_data_pagamento").value;
            var valor_pago = document.querySelector("#id_valor_pago").value
            var valor_total = document.querySelector('#id_valor_total').value
            var saldo = valor_total - valor_pago

            // VERIFICA SE OS CAMPOS VALOR REPASSADO E DATA ESTÃO EM BRANCO
            if (valor_pago == "" && date == "") { 
                // EDITA O CAMPO "SALDO" APÓS ATUALIZAÇÃO
                $("#id_valor_pago").val(0)
                return true
            }
            
            if (valor_pago == 0 && date == "") { 
                return true
            }

            if (valor_pago != 0 && date == "") { 
                alert("ERRO: Não é possível baixar a parcela.")
                return false
            }

            if (saldo > 0 || saldo < 0 ) {
                alert("ERRO: Não é possível baixar a parcela.")
                return false
            }
        }
        

        $(document).ready(function() {

            // =============================================================
            // ------ CALENDÁRIO NOS CAMPOS DE DATA ------------------------
            // =============================================================
            
            $('#id_data_pagamento').datepicker({dateFormat:'dd/mm/yy'});
            // $('#id_valor_pago').datepicker({dateFormat:'dd/mm/yy'});

            // =============================================================
            // ------ MÁSCARA DE ENTRADA DE DADOS --------------------------
            // =============================================================
        
            $('#id_data_pagamento').mask('00/00/0000');

            // =============================================================
            // ------ DESABILITA CAMPOS ------------------------------------
            // =============================================================
            
            $('#id_contrato').attr('readonly','readonly')
            $('#id_parcela').attr('readonly','readonly')
            $('#id_vencimento').attr('readonly','readonly')
            $('#id_vencimento_real').attr('readonly','readonly')
            $('#id_multa').attr('readonly','readonly')
            $('#id_juros').attr('readonly','readonly')
            $('#id_valor_total').attr('readonly','readonly')
            $('#id_valor_aluguel').attr('readonly','readonly')
            $('#id_saldo_aluguel').attr('readonly','readonly')
            
            // =============================================================
            // ------ CALCULA MULTA E JUROS --------------------------------
            // =============================================================

            $("#id_data_pagamento").change(function() {
                
                // FORMATA O VENCIMENTO
                var vencimento = document.querySelector("#id_vencimento").value;
                var arrvencimento = vencimento.split('/');
                var stringFormatada = arrvencimento[1] + '-' + arrvencimento[0] + '-' +arrvencimento[2];
                var vencimento_formatado = new Date(stringFormatada);

                // FORMATA O VENCIMENTO REAL
                var vencimento_real = document.querySelector("#id_vencimento_real").value;
                var arrvencimento_real = vencimento_real.split('/');
                var stringFormatada = arrvencimento_real[1] + '-' + arrvencimento_real[0] + '-' +arrvencimento_real[2];
                var vencimento_real_formatado = new Date(stringFormatada);
                
                // FORMATA A DATA DO PAGAMENTO
                var data_pagamento = document.querySelector("#id_data_pagamento").value;
                var arr_data_pagamento = data_pagamento.split('/');
                var stringFormatada = arr_data_pagamento[1] + '-' + arr_data_pagamento[0] + '-' +arr_data_pagamento[2];
                var data_pagamento_formatado = new Date(stringFormatada);
                
                // CALCULA QUANTOS DIAS TEM DE ATRASO
                let difference = Math.abs(data_pagamento_formatado - vencimento_formatado);
                dias_de_atraso = difference/(1000 * 3600 * 24)

                // VERIFICA SE O PAGAMENTO ESTÁ SENDO EFETUADO COM ATRASO
                if (data_pagamento_formatado > vencimento_real_formatado){ 
                    
                    // CALCULA A MULTA E JUROS
                    let valor = document.querySelector('#id_valor_aluguel').value
                    let multa = parseFloat(valor * .1).toFixed(2) 
                    let juros_por_dia =  0.000333333 * parseFloat(valor)
                    let juros_total = parseFloat(juros_por_dia * dias_de_atraso).toFixed(2)
                    let valor_total = parseFloat(multa) + parseFloat(valor) + parseFloat(juros_total)
                    
                    // EDITA OS CAMPOS APÓS ATUALIZAÇÃO
                    $("#id_multa").val(parseFloat(multa).toFixed(2))
                    $("#id_juros").val(parseFloat(juros_total).toFixed(2))
                    $("#id_valor_total").val(parseFloat(valor_total).toFixed(2))

                } else {
                    // CALCULA A MULTA E JUROS 
                    let valor = document.querySelector('#id_valor_aluguel').value                   
                    $("#id_multa").val(parseFloat(0).toFixed(2))
                    $("#id_juros").val(parseFloat(0).toFixed(2))
                    $("#id_valor_total").val(parseFloat(valor).toFixed(2))
                }
            });


            // =============================================================
            // ------ CALCULA O SALDO --------------------------------------
            // =============================================================

            // APÓS ATUALIZAÇÃO DO VALOR PAGO
            $("#id_valor_pago").change(function() {
                var valor_pago = document.querySelector("#id_valor_pago").value
                var valor_total = document.querySelector('#id_valor_total').value
                
                var saldo = valor_total - valor_pago

                console.log(saldo)

                // EDITA O CAMPO "SALDO" APÓS ATUALIZAÇÃO
                $("#id_saldo_aluguel").val(parseFloat(saldo).toFixed(2))
            
            });

            // APÓS ATUALIZAÇÃO DA DATA DO PAGAMENTO
            $("#id_data_pagamento").change(function() {
                var valor_pago = document.querySelector("#id_valor_pago").value
                var valor_total = document.querySelector('#id_valor_total').value
                
                var saldo = valor_total - valor_pago

                console.log(saldo)

                // EDITA O CAMPO "SALDO" APÓS ATUALIZAÇÃO
                $("#id_saldo_aluguel").val(parseFloat(saldo).toFixed(2))
            
            });
        });
    </script>
{% endblock %}