{% extends 'base.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block titulo %}
<title>
    {{ titulo }}
</title>
{% endblock %}


{% block conteudo %}
<div class="container-fluid mt-3">
    <div class="card border-top">
        <div class="card-header">
            <h2 class="mt-2">
                {{ titulo }}
            </h2>
        </div>

        <form action="" method="post">
            <div class="card-body">
                {% csrf_token %}
                <div class="card">
                    <div class="card-body">
                        <h5>Dados da empresa</h5>
                        <hr>
                        <div class="row">
                            <div class="form-group col-md-6 mb-2">
                                {{ form.imovel|as_crispy_field }}
                            </div>
                            <div class="form-group col-md-6 mb-2">
                                {{ form.cliente|as_crispy_field }}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="form-group col-md-6 mb-2">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <h5 class=>Saída</h5>
                                    <div class="form-group col-md-6 mb-2">
                                        {{ form.data_retirada|as_crispy_field }}
                                    </div>
                                    <div class="form-group col-md-6 mb-2">
                                        {{ form.hora_retirada|as_crispy_field }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-6 mb-2">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <h5 class=>Retorno</h5>
                                    <div class="form-group col-md-6 mb-2">
                                        {{ form.data_devolucao|as_crispy_field }}
                                    </div>
                                    <div class="form-group col-md-6 mb-2">
                                        {{ form.hora_devolucao|as_crispy_field }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card mt-3">
                    <div class="card-body">
                        <h5>Comentários do cliente</h5>
                        <hr>
                        <div class="form-group col-md-12 mb-2">
                            {{ form.observacao|as_crispy_field }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-primary">
                    {{ botao }}
                </button>
                <button type="submit" class="btn btn-danger">
                    Cancelar
                </button>
            </div>
        </form>
    </div>

    {{ form.media }}
    {{ form.as }}

    {% endblock %}

    {% block scripts %}




    <script>
        // Script para mascara
        var SPMaskBehavior = function (val) {
            return val.replace(/\D/g, '').length === 11 ? '(00) 00000-0000' : '(00) 0000-00009';
        },
            spOptions = {
                onKeyPress: function (val, e, field, options) {
                    field.mask(SPMaskBehavior.apply({}, arguments), options);
                }
            };

        $(document).ready(function () {

            // =============================================================
            // ------ SELECT2 ----------------------------------------------
            // =============================================================

            $('.select2').select2({ theme: 'bootstrap-5' });

            // =============================================================
            // ------ CALENDÁRIO NOS CAMPOS DE DATA ------------------------
            // =============================================================

            $('#id_data_retirada').datepicker({ dateFormat: 'dd/mm/yy' });
            $('#id_data_devolucao').datepicker({ dateFormat: 'dd/mm/yy' });

            // =============================================================
            // ------ INCLUÍNDO AS HORAS -----------------------------------
            // =============================================================

            $('#id_data_retirada').change(function () {
                now = new Date()
                hora_retirada = (now.getHours() + ":" + now.getMinutes() + ":" + now.getSeconds())
                $("#id_hora_retirada").val(hora_retirada)
            });

            $('#id_data_devolucao').change(function () {
                now = new Date()
                hora_retirada = (now.getHours() + ":" + now.getMinutes() + ":" + now.getSeconds())
                $("#id_hora_devolucao").val(hora_retirada)
            });

            // =============================================================
            // ------ MÁSCARA DE ENTRADA DE DADOS --------------------------
            // =============================================================

            $('#id_data_retirada').mask('00/00/0000');
            $('#id_data_devolucao').mask('00/00/0000');
            // $('#id_hora_retirada').mask('00:00:00');
            // $('#id_hora_devolucao').mask('00:00:00');

        });

    </script>
    {% endblock %}